.navbar{
  font-family:"Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
    background-color: #343a40;
}
.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: 700;
  font-family: 'roboto',sans-serif;
  letter-spacing: 3px;
}

.nav-link{
  font-weight: 500 !important;
  color: #adb5bd;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: #adb5bd;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #495057;
}

.badge {
  background-color: #ff6f61;
}

.mt-100 {
  margin-top: 0.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
.navbar-nav-container {
  margin-left:50%;
 
}
.setwidht{
    margin-left: 10%;
}
.active{
  border-bottom: 2px solid black;
}
 .footer{
  color: white;
  padding: 25px;
  background: black;
  background: linear-gradient(to right,#f2f2 black);
 }
 
 .footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
  
 }
 
 .footer a:hover{
  color: antiquewhite;
  border-bottom: 1px solid  white;
 }

 /* page not fount css */
 .pnf{
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
 }
 .pnf-title{
  font-size: 100px;
  font-weight: 700;
 }
 .pnf-heading{
  font-weight: normal;
 }
 .pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
 }

.product-link{
  text-decoration: none !important;
  color: black !important;
  
}