

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-primary, .btn-secondary {
  flex: 1;
  margin:8px;
}
.container{
  padding: 30px;
  /* background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg'); */
  background-size: cover; 
  background-position: center; 
}
